
body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  justify-content: center;
}

.vignette {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 50px;
  background-color: hsla(0, 0%, 100%, 70%);
  padding: 30px;
  backdrop-filter: blur(3px);
  height: 85vh;
  width: 90vw;
  overflow-y: scroll;
}

.question-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.statement {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  margin-bottom: 25px;
}

.answer-choice-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.answer-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.answer-option label {
  font-size: 1.2rem;
}

.answer-option input[type="radio"] {
  transform: scale(1.5);
}